<section class="phx-hero">
  <p>User page</p>
</section>

<section class="row">
  <article class="column">
    <h2>Options</h2>
    <ul>
      <li>
        <a href="/users/new">Create New Users</a>
      </li>
      <li>
        <a href="/users/show">List All Users</a>
      </li>
    </ul>
  </article>
</section>
